<%- include('../guideHeader.html') %>
<% 
//have to include these in each file sadly
function inGuild()
{
    return !(typeof(locals.guild) === 'undefined');
}
function getGuilds()
{
    if (typeof(guilds) === 'undefined') return [];
    return guilds.map(g => g.id);
}
function hasGuilds()
{    
    return getGuilds().length > 0;
}
function guideTabLink(text, link)
{
    return include("../guideTabLink.html", {
        text, link
    });
}
%>

<script>
    //avoiding quote problems...
    var rules = "#rules";
    var description = "#description";
</script>
       
        <a>
            <h2>Additional Server Set Up Steps (~15 minutes)</h2>
            <p class="description">Add a little bit of polish to the user experience by adding a welcome screen, rules template, and enabling the Community Server option.</p>
        </a>

        <div>

            <hr />
            <h3>Fill in the Rules Channel</h3>
            <p>You can write your own rules, or you might like to use the following template as a guide.</p>

            <textarea id="rules" style="width:100%; height:20em">
    <%- include("../rulesTemplate.html") %></textarea>
            <p><button id="copyRules">Copy Rules Template</button> <%- include("../../subViews/longBotCommandButton.html", 
                { 
                    text: "Get Bot to Post Rules",
                    url: "postRules",
                    data: "{ rulesText: $(rules).val() }"
                }) %></p>
                
            <p>The text above can paste directly into Discord, and the emoji should appear. You may like to adjust these rules:</p>
            <ul>
                <li>You might not like the nickname format in (1), or care about the students using their names.</li>
                <li>Rule (4) is for programming units, adjust as needed.</li>
                <li>You should set your own ground rules for how students contact you via discord in rule (8).</li>
            </ul>
        

            <hr />
            <h3>Enable Community Server</h3>
            <p>Turning your server into a Community Server allows you to have a welcome screen, and a more advanced rules channel.</p>
            <p>This setting, like the other options in this section can be found under the <strong>Server Settings</strong> page, accessible from the top-left corner.</p>
            <p class="centered">
                <img src="/static/guide/invite1.png"  style="width:45%" /><img src="/static/guide/serverSettings.png"  style="width:28%" />
            </p>
            <p>On the <strong>Server Settings</strong> page, choose <strong>Enable Community</strong> on the left-hand side. Then click <strong>Get Started</strong></p>
            <p class="centered">
                <img src="/static/guide/community1.png" style="width:28%" /><img src="/static/guide/community2.png" style="width:45%" />
            </p>
            <p>Follow the steps in the wizard. You need to enable all options to continue. You'll need to select the <strong>#rules</strong> channel from the dropdown list.</p>
            <p class="centered">
                <img src="/static/guide/community3.png" style="width:28%" />
                <img src="/static/guide/community4.png" style="width:28%" />
                <img src="/static/guide/community5.png" style="width:28%" />
            </p>
            <p>Once this is complete, it is recommended to add a short <strong>description</strong> on the <strong>Community Server</strong> settings page. This will appear on the <strong>Welcome Screen</strong> (see below).</p>

            <hr />
            <h3>Set Up a Welcome Screen</h3></a>
            <p>When students first join your server, you can show them a welcome screen like the one below:</p>
            <p class="centered">
                <img src="/static/guide/welcome1.png" />
            </p>
            <% if (inGuild())
            {
                %><p class="botFunction">You can follow the steps below, or you can get the bot to do it for you: </p>
                    
                <p class="centered">
                    <textarea id="description" style="width:65%; height:4em" placeholder="Enter a short unit description/welcome message."></textarea><%- include("../../subViews/longBotCommandButton.html", 
                    { 
                        text: "Get Bot to Configure a Basic Welcome Screen",
                        url: "configureWelcomeScreen",
                        data: '{ description: $(description).val() }'
                    }) %>
                </p><%
            }
            %>
            <p>On the <strong>Server Settings</strong> page, choose <strong>Welcome Screen</strong> on the left-hand side. Then click <strong>Set Up Membership Screening</strong>. Then click <strong>Get Started</strong>.</strong></p>
            <p>You will be prompted to add a recommended channel for people to visit, along with a description. See the picture above for examples. Make it pretty, by clicking the <strong>emoji</strong> icon.</p>
            <p class="centered">
                <img src="/static/guide/welcome2.png" />
            </p>
            <p>Once you are done, be sure to click <strong>Enable</strong> on the <strong>Welcome Screen</strong> settings page.</p>
        
            <hr />
            <h3>Set Up a Membership Screening (Rules Popup)</h3>
            <p>After the welcome screen, you can prevent students from posting until they have accepted the server rules:</p>
            <p class="centered">
                <img src="/static/guide/screening1.png" />
            </p>
            <p class="centered">
                <img src="/static/guide/screening2.png" />
            </p>
            
            <p>On the <strong>Server Settings</strong> page, choose <strong>Membership Screening</strong> on the left-hand side. Then click <strong>Set Up Welcome Screen</strong>.</p>
            <p>You will be prompted to enter in each individual rule. You may want to copy and paste from the rules post you set up earlier.</p>
            <p class="hint">Currently, screening is just acceptance of the rules, but in the future Discord will add additional features to the screening page.</p>
            <p>Once you are done, be sure to click <strong>Enable</strong> on the <strong>Membership Screening</strong> settings page.</p>


            <hr />
            <h3>Create a Campus and Pronouns Selector</h3>
            <p>Students can be given roles to categorise them. You can send notifications to groups of students using this method (e.g. by tagging @Launceston role). You can also see roles on a student's profile (e.g. maybe you can see that they have chosen their preferred pronouns, so you can communicate better with them). You can even give people with specific roles access to special channels.</p>
            <p><em>You and other adminstrators</em> can assign roles by right-clicking a student's name, however sometimes you may want students to select their own roles. This can be done using the <code>/role_select_message</code> command:</p>

            
            <%- include("../commandInfo.html", {
                command: "role_select_message",
                level: "h4"
            }) %>

            <p>Here are some examples of how you can use this command -- I like to post them in the <strong>#rules</strong> channel for visibility, as this is the first channel students see.</p>
            <p class="centered">
                <img src="/static/guide/campus_select.png" />
            </p>
            <p class="centered">
                <img src="/static/guide/pronoun_select.png" />
            </p>
            <p>For more information on roles, see <a href="https://support.discord.com/hc/en-us/articles/214836687-Role-Management-101">Role Management 101 (Discord Support Article)</a>.</p>

            <hr />
            <h3>Additional Channel Ideas</h3>
            <p>The given template has most of the channels you might need, but here are some suggestions for channels you could add:</p>
            <ul>
                <li><strong>#suggestions</strong> -- Allow students to provide feedback on the unit/Discord</li>
                <li><strong>#reminders</strong> -- Remind students about specific deadlines etc (e.g. tag people who haven't completed the weekly quiz etc.)</li>
            </ul>
            <p>You might like to have channels which students can see but cannot post in. The best approach to this is to create an <strong>Announcement</strong> channel in the Create Channel popup. You can have as many announcement channels as you like, and can name them whatever you like.</p>
        </div>
  
<%- include('../guideFooter.html') %>