<%- include('../guideHeader.html') %>
<% 
//have to include these in each file sadly
function inGuild()
{
    return !(typeof(locals.guild) === 'undefined');
}
function getGuilds()
{
    if (typeof(guilds) === 'undefined') return [];
    return guilds.map(g => g.id);
}
function hasGuilds()
{    
    return getGuilds().length > 0;
}
function guideTabLink(text, link)
{
    return include("../guideTabLink.html", {
        text, link
    });
}
%>
        <a>
            <h2>Minimum-Effort Server Set Up (~5 minutes)</h2>
            <p class="description">Use a Server Template to Quickly Get Started</p>
        </a>
        <div>
            
            <hr />
            <h3>Download the UTAS Server Template</h3>
            <p>Open the link below:</p>
            
            <p>
                <div style="display:inline-block">
                    <a href="" id="templateLink" target="_blank" class="btnAdd">Create Server From Template</span></a> 
                </div>
                <div style="display:inline-block; vertical-align: middle;">
                    <%- include("../../subViews/templateLinkSelector.html") %>
                </div>
            </p>

            <p>Here you should enter the name of your server. This should be the unit code, year, and optionally the unit name. Now is also a great time add a server icon. <em>This information can be changed later.</em></p>
            <p class="centered">
                <img src="/static/guide/template.png" />
            </p>

            <hr />
            <h3>Exploring the Channels in the Template</h3>
            <p>Once you have created your server, you should see a list of channels on the left-hand side of Discord. If you find a channel or category you don't want, right-click and choose Delete (for example, you may not want the Lectures, Consultation, and Tutorial categories).</p>
            <p class="centered">
                <img src="/static/guide/templateChannels.png" /><img src="/static/guide/templateChannelsDelete.png" />
            </p>

            <hr />
            <div class="optional">
                <a><h3>OPTIONAL: Read about all the different channels included in the template.</h3></a>
                <ul>
                    <li><strong>Rules</strong> - This is a read-only channel, and should be the first channel students see. You can define your own rules, or use the template, later in this guide.</li>
                    <li><strong>#timetable</strong> - This is a read-only channel, you can use this to paste in an image or text of the class timetable, as a useful resource for students.</li>
                    <li><strong>Staff Channels Category</strong> - Channels in this category are not visible to students. See later in the guide for information on how to assign <em>Roles</em> to people like your tutors, so that they can see these channels.
                        <ul>
                            <li>This includes a <strong>Staff Room</strong> voice channel, where you can chat with your tutors.</li>
                        </ul>
                    </li>
                    <li><strong>General Channels Category</strong> - The main chat room for the server, where students should discuss on-topic things.
                        <ul>
                            <li><strong>#announcements</strong> - A channel that only you can post in, but students can see. You may choose to mirror MyLO announcements here. To alert students who have Discord open, you can also tag people in posts using <strong>@everyone</strong> or <strong>@here</strong>.</li>
                            <li><strong>#introduce-yourself</strong> - We found that encouraging students to talk a bit about who they are allowed the students to connect better, and find people with similar interests. You should post in here to get the ball rolling.</li>
                            <li><strong>#general</strong> - For general unit discussion.</li>
                            <li><strong>#assignment-questions</strong> - For questions and help on the assignments. You may like to have a channel per assessment task.</li>
                            <li><strong>#references-and-resources</strong> - Use this channel to build up a collection of interesting links, maybe to external tutorials, interesting articles, etc. Students can post in here.</li>
                        </ul>
                    </li>
                    <li><strong>Off Topic Channels Category</strong> - Gives the students somewhere to chat amongst themselves about whatever they like. Rules channel should indicate that only appropriate content should be posted here.
                        <ul>
                            <li>We have found having sub-channels for off-topic can help encourage students to talk about different things, like <strong>#off-topic-pets</strong>, <strong>#off-topic-outside</strong>, <strong>#game-reviews</strong>, etc.</li>
                        </ul>
                    </li>
                    <li><strong>Lecture Channels Category</strong> - If you intend to conduct lectures through Discord screenshare, then keep this category.
                        <ul>
                            <li>A major factor in this decision, is that you are limited to <strong>50 participants</strong> in a lecture (or <strong>25 participants</strong> if doing screenshare + webcam).</li>
                            <li>Conversation happens live in <strong>#lecture-chat</strong>, while the screenshare happens in the <strong>Lecture Room</strong>.</li>
                        </ul>
                    </li>
                    <li><strong>Consultation Channels Category</strong> - If you or your tutors intend to conduct consultation through Discord screenshare, then keep this category.
                        <ul>
                            <li>We find posting in the read-only channel <strong>#consultation-times</strong> makes it easier for students to know you are available.</li>
                            <li>This only makes sense if you are teaching one unit, as you cannot be live in multiple Discord servers at once (but you can be on Zoom at the same time).</li>
                        </ul>
                    </li>
                    <li><strong>Tutorial Channels Category</strong> - If you intend to conduct online tutorials through Discord screenshare, then keep this category.
                        <ul>
                            <li>Conversation and text-help happens in <strong>#tutorial-chat</strong>.</li>
                            <li>Live screenshare (for you and students) happens in <strong>Tutorial Room</strong>.</li>
                            <li>You can move students to a <strong>Tutorial Breakout Room</strong> (and they can text-chat in the associated <strong>#tutorial-breakout-chat</strong>).</li>
                            <li>Students can also move themselves to a <strong>Tutorial Breakout Room</strong> (but cannot move other students).</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <hr />
            <div class="optional" id="serverAdded">
                <a><h3>OPTIONAL (but encouraged): Add the UTAS Discord Bot to Your Server</h3></a>
                <div>
                    <p>Adding the Discord Bot to your server will unlock additional features, such as post analytics, polls, even an achievement system (if you want it!).</p>
                    <p>Adding the bot at this stage will also help automate some of the other steps in this user guide.</p>
                    <p class="centered">
                        <span style="width:50%; float:left; text-align:left">
                            <% if (inGuild() == false ) 
                            {
                                %>
                                Just click the link below, and in the popup that appears, choose your server from the dropdown list. You'll be redirected back to this guide when you're done. <br />
                                <a href="<%- include("../../subViews/authLink.html", { redirect: "serverAddedInGuide" }) %>" class="btnAdd outline"><span>+</span><span>Add Bot to Your Server</span></a>
                                <%
                            }
                            else
                            {
                                %>
                                <h4 class="hint" style="display:inline-block">Discord Bot added to your server, great job!</h4>
                                <%
                            }
                            %>
                        </span>
                        <img src="/static/guide/addBot.png" />
                    </p>
                        
                </div>
            </div>

            <hr />
            <h3>Set Your Display Name</h3>
            <p>Depending on how your created your account, your <em>Discord username</em> may be different to how you want to appear to your students. You can have a <em>server nickname</em> which is just for that server.</p>
            <p>Right-click on your username on the right-hand side of Discord, and select <strong>Profile</strong>.</p>
            <p class="centered">
                <img src="/static/guide/mylo/profile.png" />
            </p>

            <hr />
            <h3>Final Step: Invite Students</h3>
            <p>Make sure you are in the channel that you want students to first see (recommend the <strong>#rules</strong> channel.</p>
            <p>Click on the Server Options dropdown in the top-left, and select <strong>Invite People</strong>.</p>
            <p class="centered">
                <img src="/static/guide/invite1.png" /><img src="/static/guide/invite2.png" />
            </p>
            <p>This generates an invite link which expires in 7 days. You should generate a link that doesn't expire, by clicking the <strong>Edit invite link</strong> button.</p>
            <p class="centered">
                <img src="/static/guide/invite3.png" /><img src="/static/guide/invite4.png" />
            </p>
            <p>You can now share this link with the students so they can join the server!</p>

            <hr />
            <div class="optional">
                <a><h3>OPTIONAL: Add a Guide to Using Discord to Your MyLO Site</h3></a>
                <div>
                    <p>Click the link below to download a template webpage for MyLO that explains the basics of using Discord. You can upload the file to your MyLO site directly.</p>
                    <p>Note that this guide has sections and mentions of online lectures and tutorials. If you don't have these, you will need to remove these sections. There are other parts of the guide highlighted in red that you may want to edit or delete. Overall you should tailor this guide to suit your unit--it is just a starting point.</p>
                    <p class="centered">
                        <a href="/guide/downloadMyLOGuide">Download Discord Guide for MyLo</a>
                    </p>
                    <p>This guide uses the D2L template.</p>                    
                </div>
            </div>

            <hr />
            <h3>Set-Up Complete!</h3>
            <p>You've completed the bare minimum set up for Discord for teaching, great job! Take the rest of the day off (then come back and try out some of the additional set up later in this guide).</p>
        </div>
    </section>

<%- include('../guideFooter.html') %>