<%- include('../header.html') %>

<h2>Generate MyLO Content Links</h2>
<%
function printModule(module, level)
{
    %>
    <option value="<%=module.Id%>">
        <%for (var i = 0; i < level; i++) { %><%="    "%><%} %><%=module.Title%>
        <% if (module.Structure)
        {
            var newLevel = level + 1; 
            module.Structure
                .filter((module) => module.Type == 0)
                .forEach((module) => printModule(module, newLevel));
        }
        %>
    </option>
    <% 
}
%>
<form method="post">
    <div>
        <label>Select Content Root: 
            <select name="myloRoot">
                <% locals.data.Structure.forEach((module) => printModule(module, 1)); %>
            </select>
        </label>
    </div>

    <h3>Channel-Based</h3>
    <div>
        <input name="postChannelThreads" type="submit" value="Post Topics as Threads" />
        <input name="postChannelLinks" type="submit" value="Post Topics as Links" />
        <%- include("../subViews/channelSelect.html", { 
            selectDefaultText:"-- Select Target Channel --",
            id: "channelID",
        }) %>
    </div>

    <h3>Category-Based</h3>
    <div>
        <input name="postChannelsWithThreads" type="submit" value="Post as Module Channels with Topic Threads" />
        <input name="postChannelsWithLinks" type="submit" value="Post as Module Channels with Topic Links" />
        <%- include("../subViews/channelCategorySelect.html", 
        { 
            selectDefaultText:"-- Select Target Category--", 
            id: "categoryID"
        }) %>
    </div>
</form>

<%- include('../footer.html') %>