<%- include('../header.html', { title: locals.profile.username, icon:locals.profile.displayAvatarURL() }) %>

<style>
    .profilePanel {
        width: 33%;
        height: 256px;
        float: left;
        border: 1px solid #000;
        border-radius: 16px;
        padding: 10px;
        margin: 10px;
        background-color: rgba(128, 128, 128, 0.171);
    }
    .profilePanel h3 {
        margin:8px;
    }
    .profilePanel content {
        width: 100%;
        height: calc(100% - 40px);
    }
    .profilePanel.scrollable content {
        overflow-y: scroll;
    }
    .pair {
        margin-bottom:8px;
    }
    .pair h4 {
        display:inline-block;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
        max-width:80%;
    }
    .pair h4 span {
        display:block;
    }
    .pair h4 span:nth-child(2)
    {
        font-weight: normal !important;
    }
    .pair h4 span:nth-child(3)
    {
        font-weight: normal !important;
        font-size:0.75em;
        color: #999;
    }
    .pair > * {
        vertical-align: middle;
    }
    .pair > *:first-child {
        vertical-align: middle;
    }
    .pair > span:first-child {
        font-size: 1.5em;
        padding: 0.5em;
        min-width:2ex;
        text-align: center;
        font-weight:bold;
        display:inline-block;
    }
    .pair > img {
        margin-right:1ex;
    }

    #publicSwitch {
        cursor: pointer;
    }
</style>

<% if (locals.isOurProfile)
{
    %><div style="text-align: right;">
        <div class="pair btnSmall" id="publicSwitch" title="<%=locals.profile.public ? "Change to Private" : "Change to Public"%>">
            <span><%= locals.profile.public ? "🔓" : "🔒" %></span>
            <h4>
                <span><%= locals.profile.public ? "Profile is Public" : "Profile is Hidden"%></span>
            </h4>
        </div>
    </div><%
}%>

<div>
    <div class="profilePanel scrollable" style="float: right; width:55%; height:552px">
        <h3>Awards</h3>
        <content>
            <% locals.profile.awards.forEach(award => { %>
                <div class="pair">
                    <span><%= award.emoji %></span>
                    <h4>
                        <span><%= award.title %></span>
                        <span><%= award.description %></span>
                        <span><%= award.server %></span>
                    </h4>
                </div>
            <% })%>
        </content>
    </div>
    <div class="profilePanel scrollable">
        <h3>Stats</h3>
        <content>
            <div class="pair">
                <span><%=locals.profile.total%></span>
                <h4><span>Total Posts</span></h4>
            </div>
            <div class="pair">
                <span><%=locals.profile.guilds.length%></span>
                <h4><span>UTAS Bot Servers</span></h4>
            </div>
            <div class="pair">
                <span><%=locals.profile.awards.length%></span>
                <h4><span>Awards</span></h4>
            </div>
        </content>
    </div>
    <div class="profilePanel scrollable">
        <h3>Servers</h3>
        <content>
        <% locals.profile.guilds.forEach(guild => { %>
            <div class="pair">
                <img src="<%= guild.iconURL() %>" alt="" style="width: 50px; height: 50px; border-radius: 50%">
                <h4>
                    <span><a href="/guild/<%=guild.id%>"><%= guild.name %></a></span>
                </h4>
                
            </div>
        <% })%>
        </content>
    </div>
</div>

<script>
    $("#publicSwitch").click(function() {
        $(this).find("h4 span").text("Loading...");
        $.ajax({
            url: window.location.href+"/public",
            type: "POST",
            success: function(data) {
                window.location.reload();
            }
        });
    });
</script>

<%- include('../footer.html') %>
