<%- include('../header.html', { title: locals.profile.username, icon:locals.profile.displayAvatarURL() }) %>

<style>
    .profilePanel {
        width: 33%;
        height: 200px;
        float: left;
        border: 1px solid #000;
        border-radius: 16px;
        padding: 10px;
        margin: 10px;
        background-color: rgba(128, 128, 128, 0.171);
    }
    .profilePanel h3 {
        margin-top: 0px;
    }
    .profilePanel content {
        width: 100%;
        height: 160px;
        overflow-y: scroll;
    }
    .server h4 {
        display:inline-block;
    }
    .server img {
        vertical-align: middle;
    }
</style>

<div>
    <div class="profilePanel" style="float: right; width:55%; height:440px">
        <h3>Awards</h3>
    </div>
    <div class="profilePanel">
        <h3>Stats</h3>
    </div>
    <div class="profilePanel">
        <h3>Servers</h3>
        <content>
        <% locals.profile.guilds.forEach(guild => { %>
            <div class="server">
                <img src="<%= guild.iconURL() %>" alt="" style="width: 50px; height: 50px; border-radius: 50%">
                <h4><%= guild.name %></h4>
            </div>
        <% })%>
        </content>
    </div>
</div>

<%- include('../footer.html') %>
