<%- include('header.html', { title: "Clone Channel" }) %>

<p>You can copy all messages from a channel in a Discord Server that you are an admin of which have the UTAS Bot added to them.</p>

<form method="post">
    
    <div>
        <select name="sourceGuild" id="guilds">
        <option selected>-- Select the Server with the Channel You Want to Clone</option>
        <%
        guilds.forEach(function(guild)
        { 
            %>
            <option value="<%=guild.id%>">
                <%= guild.name %><br />
            </option>
            <% 
        });
        %>
        </select>
    </div>

    <div><input class="btn" type="submit" value="Continue to Select Which Channel to Clone"/></div>

</form>

<%- include('footer.html') %>