<%- include('header.html') %>

<h2>Create Server With Template</h2>
<p>To save you the hassle of creating all the channels, roles, and permissions for a server yourself, a server template has been created that you can use to create your own server. </p>  
<p>You should open the server template link in a new window. Once you've created the server, you can add the Bot to the server.</p>

<p>
    <a href="<%- include("subViews/templateLink.html") %>" target="_blank" class="btnAdd"><span>1.</span><span>Copy the Server Template</span></a> This link will require you to use the Discord Desktop client.
</p>

<p>You can find more information about what's included in the template, and how to tailor it to your needs in the <a href="userGuide" target="_blank">User Guide</a>.</p>

<p>Once you have created your server, click the link below to add the Bot. You will need to select your server from the dropdown list.</p>
<p>
    <a href="<%- include("subViews/authLink.html") %>" class="btnAdd"><span>2.</span><span>Add Bot to Your Server</span></a>
</p>
<p>You'll be redirected back to this site after adding your server.</p>

<%- include('footer.html') %>