</main>
<footer>&copy; University of Tasmania - For Support Contact <a href="mailto:Lindsay.Wells@utas.edu.au">Lindsay.Wells@utas.edu.au</a></footer>

<script>
    $(document).ready(() => {
        $(".autosubmit").on("change", function(e)
        {
            $(this).closest("form").submit();
        });

        $('table.sortable th').click(function(){
            var table = $(this).parents('table').eq(0)
            var rows = table.find('tbody tr').toArray().sort(comparer($(this).index()))
            this.asc = !this.asc
            if (!this.asc){rows = rows.reverse()}
            for (var i = 0; i < rows.length; i++){table.append(rows[i])}
        })
        function comparer(index) {
            return function(a, b) {
                var valA = getCellValue(a, index), valB = getCellValue(b, index)
                return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
            }
        }
        function getCellValue(row, index){ return $(row).children('td, th').eq(index).attr("sortValue") ?? -1}
    });
    
    function copyToClipboard(txt) {
        if (typeof(txt) === "string")
        {
            return copyTextToClipboard(txt);
        }
        
        console.log($(txt));
        //var $temp = $("<input>");
        //$("body").append($temp);
        //$temp.val(txt).select();
        $(txt).select();
        document.execCommand("copy");
        //$temp.remove();
    }
    function fallbackCopyTextToClipboard(text) {
        var textArea = document.createElement("textarea");
        textArea.value = text;
        
        // Avoid scrolling to bottom
        textArea.style.top = "0";
        textArea.style.left = "0";
        textArea.style.position = "fixed";

        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();

        try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            console.log('Fallback: Copying text command was ' + msg);
        } catch (err) {
            console.error('Fallback: Oops, unable to copy', err);
        }

        document.body.removeChild(textArea);
        }
        function copyTextToClipboard(text) {
        if (!navigator.clipboard) {
            fallbackCopyTextToClipboard(text);
            return;
        }
        navigator.clipboard.writeText(text).then(function() {
            console.log('Async: Copying to clipboard was successful!');
        }, function(err) {
            console.error('Async: Could not copy text: ', err);
        });
        }

</script>

</body>



</html>