<%- include('header.html') %>

<h2>Enable/Disable Features</h2>

<dl>
<dt><%- include("subViews/featureSelect.html", 
    { 
        label: "Achievements",
        feature: "achievements"
    }) %>
</dt>

    <dd>
    <% 
    function hasFeature(feature)
    {
        return locals["feature_"+feature];
    }

    if (hasFeature("achievements"))
    {
        %><%- include("subViews/channelSelect.html", 
        { 
            label: "Achievements Channel:",
            selectDefaultText:"-- Select Channel--",
            id: "setAwardChannelID",
            value: locals.awardChannel ? locals.awardChannel.id : undefined,
            onGuildPage:true
        }) %><%
    }
    %>
</dd>


<dt><%- include("subViews/featureSelect.html", 
    { 
        label: "Attendance Tracking",
        feature: "attendance",
    }) %></dt>
<dt><%- include("subViews/featureSelect.html", 
    { 
        label: "Post Tracking",
        feature: "analytics"
    }) %></dt>
<dt><%- include("subViews/featureSelect.html", 
    { 
        label: "Open Broadcaster Studio Integration",
        feature: "obs"
    }) %></dt>
<dt><%- include("subViews/featureSelect.html", 
    { 
        label: "Custom Invites",
        feature: "invites"
    }) %></dt>
</dl>


<dt><%- include("subViews/featureSelect.html", 
    { 
        label: "TODOs",
        feature: "todos"
    }) %>
</dt>

    <dd>
    <% 

    if (hasFeature("todos"))
    {
        %><%- include("subViews/channelSelect.html", 
        { 
            label: "TODOs Channel:",
            selectDefaultText:"-- Select Channel--", 
            id: "setTodoChannelID",
            value: locals.todoChannelID ? locals.todoChannelID.id : undefined,
            onGuildPage:true
        }) %><%
    }
    %>
    </dd>
    <dd>
        <% 
    
        if (hasFeature("todos"))
        {
            %><%- include("subViews/textFieldGuildProperty.html", 
            { 
                label: "TODOs Emoji (Mobile):",
                id: "setTodoEmoji",
                property: "todoEmoji",
                value: locals.todoEmoji ?? "",
                onGuildPage:true
            }) %><%
        }
        %>
        </dd>


<%- include('footer.html') %>
