<%- include('header.html', { title: "Unit List" }) %>

<p>Discord Servers that you are a member of and have the UTAS Bot on them to will appear here.</p>

  <% if (guilds.size == 0)
  {
    %>
    <p>You aren't in any servers with the UTAS Bot yet. </p>
      <% if (locals.hasPermission("create_server"))
      {
        %><p>Let's get started!<%- include("subViews/addServerLink.html") %></p><%
      } else {
        %><p>How did you find this page?!</p><%
      }%>
    <%
  }
  else
  {
    
    function displayGuild(guild, favourite)
    { 
      %>
      <li>
        <img src="<%=guild.iconURL()%>" />
        <a href="/guild/<%= guild.id %>/" title="Server ID <%= guild.id %>">
          <%= guild.name %><br />
          <span class="serverInfo">
            <%=(guild.approximateMemberCount == 1) ? guild.approximateMemberCount+" Member" : guild.approximateMemberCount+" Members"%> - 
            <%=(guild.approximatePresenceCount == 1) ? guild.approximatePresenceCount+" Online" : guild.approximatePresenceCount+" Online"%> - 
            <%=(guild.totalPosts == 1) ? guild.totalPosts+" Post" : guild.totalPosts.toLocaleString()+" Posts"%>
          </span>
        </a>
        <a href="/toggleFavouriteGuild?guildID=<%= guild.id %>" title="Toggle Favourite" class="favourite"><%=favourite ? "❌" : "💖" %></a>
      </li>
      <% 
    }

    %>
    <ul id="guilds">
      <% if (locals.hasPermission("create_server"))
      {
        %><li>
          <%- include("subViews/addServerLink.html") %>
        </li><%
      }
      %>
    </ul>

    <% 
    console.log("Favourite Guilds: "+locals.favouriteGuilds);
    if (locals.favouriteGuilds.length > 0)
    {
      %>
      <h2>Favourite Servers</h2>
      <ul id="guilds">
        <%
        guilds.forEach(g => locals.favouriteGuilds.indexOf(g.id) >= 0 ? displayGuild(g, true) : "");
        %>
      </ul>
      <%
    }
    %>

    <h2>All Servers</h2>
    <ul id="guilds">
      <%
      guilds.forEach(g => displayGuild(g, false));
      %>
    </ul><%
  }
  %>
  


<%- include('footer.html') %>