<%- include('header.html') %>

<h2>Unit List</h2>
<p>Discord Servers that you are an admin of will appear here.</p>

  <% if (guilds.size == 0)
  {
    %>
    <p>You haven't added the Bot to any servers yet. Let's get started!</p>
    <%- include("subViews/addServerLink.html") %>
    <%
  }
  else
  {
    %>
    <ul id="guilds">
      <li>
        <%- include("subViews/addServerLink.html") %>
      </li>
      <%
      guilds.forEach(function(guild)
      { 
        %>
        <li>
          <img src="<%=guild.iconURL()%>" />
          <a href="/guild/<%= guild.id %>/" title="Server ID <%= guild.id %>"><%= guild.name %><br />
          <span class="serverInfo">
            <%=(guild.approximateMemberCount == 1) ? guild.approximateMemberCount+" Member" : guild.approximateMemberCount+" Members"%> - 
            <%=(guild.approximatePresenceCount == 1) ? guild.approximatePresenceCount+" Online" : guild.approximatePresenceCount+" Online"%></span>
          </a>
        </li>
        <% 
      });
      %>
    </ul><%
  }
  %>
  


<%- include('footer.html') %>