<%- include('header.html') %>
<% 
function hasFeature(feature)
{
    return locals["feature_"+feature];
}
%>

<h2>Enable/Disable Features</h2>

<dl>
<dt><%- include("subViews/featureSelect.html", 
    { 
        label: "Achievements",
        feature: "achievements",
        onChanged: '$("#achievementsFeature").toggle(value)'
    }) %>
</dt>

    <dd id="achievementsFeature" style="display:<%=hasFeature("achievements") ? "block" : "none"%>">
     <%- include("subViews/channelSelect.html", 
        { 
            label: "Achievements Channel:",
            selectDefaultText:"-- Select Channel--",
            id: "setAwardChannelID",
            value: locals.awardChannelID,
            onChangedURL: "setGuildProperty"
        }) %>
    </dd>


<dt><%- include("subViews/featureSelect.html", 
    { 
        label: "Attendance Tracking",
        feature: "attendance",
    }) %></dt>
<dt><%- include("subViews/featureSelect.html", 
    { 
        label: "Scheduled Sessions",
        feature: "sessions",
    }) %></dt>
<dt><%- include("subViews/featureSelect.html", 
    { 
        label: "Post Tracking",
        feature: "analytics"
    }) %></dt>
<dt><%- include("subViews/featureSelect.html", 
    { 
        label: "Open Broadcaster Studio Integration",
        feature: "obs"
    }) %></dt>
<dt><%- include("subViews/featureSelect.html", 
    { 
        label: "Custom Invites",
        feature: "invites"
    }) %></dt>
</dl>
<dt><%- include("subViews/featureSelect.html", 
    { 
        label: "Bot DMs Students On Joining Server",
        feature: "dm_intro",
    }) %></dt>

    <dd>
<dt><%- include("subViews/featureSelect.html", 
    { 
        label: "TODOs",
        feature: "todos",
        onChanged: '$("#todoFeature").toggle(value)'
    }) %>
</dt>

<div id="todoFeature" >
    <dd style="display:<%=hasFeature("todos") ? "block" : "none"%>""><%- include("subViews/channelSelect.html", 
        { 
            label: "TODOs Channel:",
            selectDefaultText:"-- Select Channel--", 
            id: "setTodoChannelID",
            value: locals.todoChannelID,
            onChangedURL: "setGuildProperty"
        }) %>
    </dd>

    <dd>
        <%- include("subViews/guildSettingText.html", 
            { 
                label: "TODOs Emoji (For tagging on mobile):",
                id: "setTodoEmoji",
                value: locals.todoEmoji ? locals.todoEmoji : "",
                help:"You can paste from <a href='https://emojipedia.org/'>https://emojipedia.org/</a>.",
                onChangedURL: "setGuildProperty"
            }) %>
        </dd>
</div>

    <h3>Status Channels</h3>
    <p>These appear at the top of the channel list, showing status information. They update slowly, and may take up to 10 minutes before they appear for the first time.</p>
    <dt><%- include("subViews/featureSelect.html", 
    { 
        label: "Show Online Member Count",
        feature: "showOnlineMemberCount"
    }) %></dt>
        
    <dt><%- include("subViews/featureSelect.html", 
    { 
        label: "Show Enrolled Member Count",
        feature: "showMemberCount"
    }) %></dt>
        
    <dt><%- include("subViews/featureSelect.html", 
    { 
        label: "Show Next Lecture Session",
        feature: "showNextSession"
    }) %></dt>
        


<%- include('footer.html') %>
