<%- include('header.html') %>

<h2>Configure Server</h2>

<h3>Role Set Up</h3>

<p><%- include("subViews/roleSelect.html", 
    { 
        label: "Admin/Staff Role:",
        selectDefaultText:"-- Select Role--",
        id: "setAdminRoleID",
        value: locals.adminRole ? locals.adminRole.id : undefined
    }) %></p>
<p><%- include("subViews/roleSelect.html", 
    { 
        label: "Current Students Role:",
        selectDefaultText:"-- Select Role--",
        id: "setStudentRoleID",
        value: locals.studentRole ? locals.studentRole.id : undefined
    }) %></p>

<h3>Channel Set Up</h3>

<p><%- include("subViews/channelSelect.html", 
    { 
        label: "Lecture Channel:",
        selectDefaultText:"-- Select Channel--",
        id: "setLectureChannelID",
        value: locals.lectureChannel ? locals.lectureChannel.id : undefined
    }) %></p>
<p><%- include("subViews/channelSelect.html", 
    { 
        label: "Achievements Channel:",
        selectDefaultText:"-- Select Channel--",
        id: "setAwardChannelID",
        value: locals.awardChannel ? locals.awardChannel.id : undefined
    }) %></p>
    <p><%- include("subViews/channelSelect.html", 
        { 
            label: "Off Topic Channel:",
            selectDefaultText:"-- Select Channel--", 
            id: "setOffTopicChannelID",
            value: locals.offTopicChannel ? locals.offTopicChannel.id : undefined
        }) %></p>
    <p><%- include("subViews/channelSelect.html", 
        { 
            label: "TODOs Channel:",
            selectDefaultText:"-- Select Channel--", 
            id: "setTodoChannelID",
            value: locals.todoChannelID ? locals.todoChannelID.id : undefined
        }) %></p>
    <p><%- include("subViews/channelCategorySelect.html", 
        { 
            label: "Off Topic Category:",
            selectDefaultText:"-- Select Category--", 
            id: "setOffTopicCategoryID",
            value: locals.offTopicCategory ? locals.offTopicCategory.id : undefined
        }) %></p>


<%- include('footer.html') %>
