<%- include('header.html', { title: "Invites" }) %>

<p>Associate a role with an invite. Users who use that invite will automatically be assigned that role.</p>
<table>
  <% invites.forEach(function(kvp, key){
    var invite = kvp[1];
    var code = invite.code; %>
    <tr>
        <td><a href="https://discord.gg/<%= code %>">https://discord.gg/<%= code %></a></td>
        <td>
            <%- include("subViews/select.html", { 
                id:code, 
                data:rolesList, 
                defaultText: "--- Assign Role ---",
                selected: appliedRolesList[code],
                onChange:"applyRole(value, id);" }) %>
        </td>
        <td>
            <a href="#" class="copy">Copy Link</a>
        </td>
    </tr>
  <% }) %>
  <tr>
      <td><a href="invites/generate" class="login" style="margin:1em; display:block"><span>+</span> Generate New Invite</a></td>
  </tr>
</table>
<script>
    function applyRole(role, id)
    {
        $.ajax({
            url:"",
            method:"post",
            data:{
                role:role,
                id:id,
            },
            complete:(XPathResult) => document.location.reload()
        })
    }
</script>
<script>
    
    $(document).ready(() =>
    {
        $(".copy").on("click", (e) => {
            var txt = $(e.target).parents("tr").find("a").first().text();
            copyToClipboard(txt);
            e.stopPropagation();
            return false;
        });
    });

</script>

<%- include('footer.html') %>