<%- include('header.html') %>

<h2>OBS Pages</h2>
<p>Use these links as URLs for Browser Sources in OBS.</p>
<nav>
    <ul>
        <% if (locals.lectureChannel) { %>
            <li>
                <a href="../poll/">Poll Widget
                    <br />
                    <input class="autoLink copy" /> <button class="copy">Copy</button>
                </a>
            </li>
        <% } %>

        <li>
            <a href="../text/">Lecture Popup Text Widget
                <br />
                <input class="autoLink copy" /> <button class="copy">Copy</button>
            </a>
        </li>
        
        <% if (locals.awardChannel) { %>
            <li>
                <a href="../analytics/obs">Top Posters and Award Leaderboard Widget
                    <br />
                    <input class="autoLink copy" /> <button class="copy">Copy</button>
                </a>
            
            </li>
        <% } %>
    </ul>
</nav>

<style>
    .autoLink { width: 500px; }
</style>
<script>
    
    $(document).ready(() =>
    {
        $(".autoLink").each((i,e) => {
            var a = $(e).parents("a");
            var link = a.attr("href");
            $(e).val(new URL(link, document.baseURI).href);
        });

        $(".copy, .autoLink").on("click", (e) => {
            var txt = $(e.target).parents("a").find("input")[0].val();
            copyToClipboard(txt);
            e.stopPropagation();
            return false;
        });
    });

</script>
<%- include('footer.html') %>
