<%- include('header.html', { title: "OBS Browser Sources" }) %>
<%
function hasFeature(feature)
{
    return locals["feature_"+feature];
}
%>

<p>Use these links as URLs for Browser Sources in OBS.</p>
<nav>
    <ul>
        <% if (locals.lectureChannelID) { %>
            <li>
                <div class="autoLink" data-link="../../chat/<%=locals.lectureChannelID%>">Lecture Chat Widget (Made By Lake Hopkins, see <a href="https://github.com/Lachee/discord-chat-preview">https://github.com/Lachee/discord-chat-preview</a>)
                    <br />
                    <input class="copy" /> <button class="copy">Copy</button>
                </div>
            </li>
        <% } %>

        <% if (locals.lectureChannelID) { %>
            <li>
                <div class="autoLink" data-link="../<%=guild.id%>/poll">Poll Widget
                    <br />
                    <input class="copy" /> <button class="copy">Copy</button>
                </div>
            </li>
        <% } %>

        <% if (locals.lectureChannelID) { %>
        <li>
            <div class="autoLink" data-link="../<%=guild.id%>/text">Lecture Popup Text Widget
                <br />
                <input class="copy" /> <button class="copy">Copy</button>
            </div>
        </li>
        <% } %>
        
        <% if (locals.lectureChannelID && hasFeature("achievements")) { %>
            <li>
                <div class="autoLink" data-link="../<%=guild.id%>/analytics/obs">Top Posters and Award Leaderboard Widget
                    <br />
                    <input class=" copy" /> <button class="copy">Copy</button>
                </div>
            
            </li>
        <% } %>

        <% if (locals.lectureChannelID && hasFeature("sessions")) { %>
            <li>
                <div class="autoLink" data-link="../<%=guild.id%>/sessions/obs">Next Session Name
                    <br />
                    <input class=" copy" /> <button class="copy">Copy</button>
                </div>
            
            </li>
        <% } %>
    </ul>
</nav>

<style>
    .autoLink input { width: 500px; }
</style>
<script>
    
    $(document).ready(() =>
    {
        $(".autoLink").each((i,e) => {
            var link = $(e).data("link");
            link = new URL(link, document.baseURI).href;
            var input = $(e).find("input");
            var button = $(e).find("button");

            var click = (e) => {
                copyToClipboard(link);

                button.text("Copied!");
                return false;
            };

            input.on("click", click);
            button.on("click", click);

            input.val(link);
        });
    });

</script>
<%- include('footer.html') %>
