<%- include('header.html', { showTitle: false }) %>

<style>
    h1 { display:none; }
    main { padding:initial; }
    .question { font-size:16pt; }
    th { text-align: left; padding-right: 1ex; }
    .votes { padding-left: 1ex; text-align: center; }
    * {
        text-shadow: 0px 0px 4px #2C2F33;
    }
    .bar {
        box-shadow: 0px 0px 4px #2C2F33;
    }
    /* add this rule to custom css for bottom align *//*
    #results {
        position:absolute;
        bottom:1em;
    }*/
</style>

<div id="results">

</div>
<script type="text/javascript">
    $(async function()
    {
        while (true)
        {
            var data = await $.ajax("poll/data/");
            $("#results").html(data);
            await new Promise(r => setTimeout(r, 1000));
        }
    });
</script>

<%- include('footer_empty.html') %>
