<h2 class="question">
    <span style="font-size:small; color:gray"><%=timestamp%></span>
    <br />
    <!--<span style="font-size:small; color:gray"><%=command%></span>
    <br />-->
    <%= question %>
</h2>

<table class="results">
  <% results.forEach(function(result){ %>
    <tr>
        <th class="answer"><%= result.answer %></th>
        <td>
            <div class="bar <%= result.votes == mostVotes ? 'leading' : '' %>" style="width: <%= oneVoteSize * result.votes %>">&nbsp;</div>
        </td>
        <td class="votes"><%= result.votes %></td>
    </tr>
  <% }) %>
</table> 
