<%- include('header.html') %>

<h2>Scheduled Polls</h2>

<!--<p><a href="../clearpoll/">Clear Current Poll</a></p>-->

<div>
    <label>
        Select Page: 
        <select id="selectScheduledPollPage">
            <%
            Object.entries(polls).forEach((kvp) => {
                var page = kvp[0];
                var id = page.replace(/[^a-z0-9]/gi,'');
                %>
                <option value="page_<%=id%>"><%=page%></option>
                <%
            });
            %>
        </select>
    </label>
</div>

    <%
    Object.entries(polls).forEach((kvp) => {
        var page = kvp[0];
        var id = page.replace(/[^a-z0-9]/gi,'');
        var thisPagePolls = kvp[1];
        %>    
        <div id="page_<%=id%>" class="scheduledPollPage">
            <h3><%=page%></h3>
            <ul>
                <% thisPagePolls.forEach((poll) => { %>
                    <li><%= poll.note %>
                        <ul style="list-style:none">
                            <li><%= poll.poll %></li>
                            <li><button onclick="poll('pollRoboLinds/<%= encodeURIComponent(poll.poll).replaceAll("'","%27").replaceAll("/", "%2F").replaceAll("#", "%23") %>')">POST POLL</a></li>
                        </ul>
                    </li>
                <% }) %>
            </ul>
        </div>
        <% 
    }) %>

<form method="post">
    <p>Format is new line per poll, everything before first &quot; is a note. E.g.</p>
    <pre style="width:100%">
Slide 1 /poll "Homework/Pracs I've already done:" "Watched the Intro to Unity lecture" "Set up itch.io and shared it on the #itch-io channel" "Installed Unity 2020.2.3f1" "Finished Prac 1" "Finished and shown Exercise 1" "Started Prac 2" "Finished Prac 2" "Finished and shown Exercise 2" "More Pracs/Exercises than that"
    </pre>
    <textarea name="polls" style="width:100%; height:500px">
<% Object.entries(polls).forEach((kvp) => {
    var page = kvp[0];
    var thisPagePolls = kvp[1];%>!-- <%=page%>

<% thisPagePolls.forEach((poll) => { %><%= poll.note %> <%= poll.poll %>
    
<% }) %>

<% }) %>
    </textarea>
    <p><input type="submit" value="Save" /></p>
</form>

<script type="text/javascript">
    function poll(poll)
    {
        $.ajax(poll);
    }

    function selectScheduledPollPage()
    {
        var id = $("#selectScheduledPollPage").val();
        $(".scheduledPollPage").hide();
        $("#"+id).show();
    }
$(function()
{
    $(".post").on("click", function() {
        $(this).text("Posted");
    });
    $("#selectScheduledPollPage").on("change", selectScheduledPollPage);
    selectScheduledPollPage();
});
</script>

<%- include('footer.html') %>
