<%- include('header.html') %>

<h2>Scheduled Polls</h2>

<ul>
    <% polls.forEach((poll) => { %>
        <li><%= poll.note %>
            <ul>
                <li><%= poll.poll %></li>
                <li><a class="post" href="javascript:poll('../poll/<%= encodeURIComponent(poll.poll.replaceAll("'","%27").replaceAll("/", "%2F").replaceAll("#", "%23")) %>')">POST</a></li>
            </ul>
        </li>
    <% }) %>
</ul>

<form method="post">
    <p>Format is new line per poll, everything before first &quot; is a note. E.g.</p>
    <pre style="width:100%">
        Slide 1 /poll "Homework/Pracs I've already done:" "Watched the Intro to Unity lecture" "Set up itch.io and shared it on the #itch-io channel" "Installed Unity 2020.2.3f1" "Finished Prac 1" "Finished and shown Exercise 1" "Started Prac 2" "Finished Prac 2" "Finished and shown Exercise 2" "More Pracs/Exercises than that"
    </pre>
    <textarea name="polls" style="width:100%; height:500px">
<% polls.forEach((poll) => { %><%= poll.note %> /poll <%= poll.poll %>
    
<% }) %>
    </textarea>
    <p><input type="submit" value="Save" /></p>
</form>

<script type="text/javascript">
function poll(poll)
{
    $.ajax(poll);
}
$(function()
{
    $(".post").on("click", function() {
        $(this).text("Posted");
    });
});
</script>

<%- include('footer.html') %>
