<%- include('header.html') %>

<h2>Tutorial Progress</h2>

<nav><a href="csv/">Download CSV</a></nav>

<table border="1" cellpadding="8">
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Tutorial</th>
    <th>Page</th>
    <th>Timestamp</th>
  </tr>
  <% data.forEach(function(row){ 
    %>
    <tr>
        <td><%= row.studentID %></td>
        <td><%= row.username %></td>
        <td><%= row.tutorial %></td>
        <td><%= row.page %></td>
        <td><%= row.timestamp %></td>
    </tr>
  <% }) %>
</table>

<%- include('footer.html') %>
