<%- include('header.html', { title: "Tutorial Progress" }) %>

<style>
.pageResult {
  width:2px;
  min-width: 4px;
  border: 0.5px solid #ffffff42;
}
.complete { background-color: green; }
.not_complete { background-color: black; }

.sectionName {
  writing-mode: vertical-rl;
  text-align: left;
  min-width: 25px; /* for firefox */
  transform: rotate(180deg);
}
.studentName {
  width:fit-content;
  text-align: left;
}
.studentRow {
  height:25px;
}
td, th { white-space: nowrap; }
table th {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    left:0;
    z-index: 10;
    background-color: #2c2f33; 
}

</style>

<table border="1" cellpadding="0" cellspacing="0">
  <tr>
    <th rowspan="2">Student</th>
    <% locals.tutorials.forEach(function(tutorial)
    { 
      %><th colspan="<%= tutorial.colspan %>"><%= tutorial.name %></th><% 
    }) %>
  </tr>
  <tr>
    <% locals.tutorials.forEach(function(tutorial)
    { 
      tutorial.sections.forEach(function(section)
      {
        %><th colspan="<%= section.colspan %>" class="sectionName"><%= section.shortName +" - "+section.name.substring(0, 20) %></th><%
      })
    }) %>
  </tr>
  <% locals.classList.forEach(function(student){ 
    %>
    <tr class="studentRow">
      %><th class="studentName"><%= student.discordName %></th>  
      <% locals.tutorials.forEach(function(tutorial)
      { 
        tutorial.sections.forEach(function(section)
        {
          %><%- locals.checkAttendance(student, section) %><%
        })
      }) %>
    </tr>
  <% }) %>
</table>

<%- include('footer.html') %>
