<%- include('header.html', { title: "Restart Server" }) %>


<% console.log({q:locals.query})%>
<% if (locals.query.restarted) { %>
    <h3>Server restarted successfully!</h3>
<% } %>
    <p>Click this button to confirm that you want to restart the server: <button id="restart" class="btn">Restart</button></p>
    <p>This operation may take around 30 seconds.</p>
<script>
    //when the user clicks restart, trigger the post callback for this page, and then frequently poll the server to see if it's back up
    $("#restart").click(function()
    {
        //give immediate feedback that the button was clicked
        $(this).text("Restarting...");

        //trigger the post endpoint
        $.post("/restart", function(data, status){
            //if the server is back up, reload the page
            setInterval(function(){
                $.get("/restart", function(data, status){
                    //give immediate feedback that the server is back up
                    $("#restart").text("Restarted! Reloading Page...");
                    location.href = "/restart?restarted=true";
                });
            }, 1000);
        });
    });
</script>

    <%- include('footer.html') %>
