<%- include('header.html', { title: "UTAS Discord Bot Added to "+locals.guild.name }) %>

<p>Fantastic! The UTAS Discord Bot is now a member of your server.</p>
<p>It's time to configure your server, ready for students. If you're new to Discord, or new to using the Discord Bot, you'll probably want to check out the <a href="guide">User Guide</a>.</p>
<p>
    <a href="guide" target="_blank" class="btnAdd"><span>1.</span><span>Open the User Guide</span></a><span>If you used the server template, you may want to remove some of the generated channels.</span>
</p>

<p>Use the <a href="." class="bold">Configure Server tab</a> to do some basic set up, like choosing a name for your bot.</p>
<p>
    <a href="." class="btnAdd"><span>2.</span><span>Configure Server</span></a>
</p>

<p>Feeling adventurous? Unlock the full potential of Discord by enabling some extra features on the <a href="features">Features tab</a>.</p>
<p>
    <a href="features" class="btnAdd"><span>3.</span><span>Enable Extra Features</span></a>
</p>

<%- include('footer.html') %>