<%- include('header.html', { showTitle: false }) %>

<style>
    h1 { display:none; }
    main { padding:initial; }
    .question { font-size:16pt; }
    th { text-align: left; padding-right: 1ex; }
</style>

<div id="results">

</div>
<script type="text/javascript">
    $(async function()
    {
        var pages = ["obs/allTime", "obs/week", "../leaderboard/obs"];
        var i = 0;
        while (true)
        {
            var data = await $.ajax(pages[i % pages.length]);
            $("#results").html(data);
            await new Promise(r => setTimeout(r, 5000));
            i++;
        }
    });
</script>

<%- include('footer_empty.html') %>
