<%- include('header.html') %>
<style>
main { width: 100% !important; max-width: 100% !important; }
</style>

<form method="post">
    <div><input type="submit" value="Generate More Graphs" /></div>
</form>

<%- locals.classlistFilters(true) %>

<% for (var graph of graphs)
{
    console.log(graph.title);
    %>
    <h2><%=graph.title%> <%- include("subViews/download_csv.html", { data:graph.data, filename:graph.title }) %></h2>
    <%- include("subViews/barplot.html", {data:graph.data}) %>
    <%
}
%>


<%- include('footer.html') %>
