<body>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
$(async function()
{
    $("html").on("click", function()
    {
        showText("testing "+(Math.random() * 5).toString().substr(0, 5), "random", "random", 2);
    });
    function showText(text, style, animation, duration)
    {
        $("body").html("");
        $.ajax(style+"/", {
            data:{
                text:text,
                animation:animation,
                duration:duration
            },
            success:(data) =>
            {
                $("body").html(data);
            }
        });
    }

    while (true)
    {
        try
        {
            var data = await $.ajax("latest/");
            if (data && data != "" && data.text)
            {
                console.log(data);
                showText(data.text, data.style, data.animation, data.duration);
                await new Promise(r => setTimeout(r, data.duration*1000 + 2000));
                $("body").html("");
            }
            else
            {
                //console.log(data);
                await new Promise(r => setTimeout(r, 1000));
            }
        }
        catch (err) { 
            //console.log("error, skip", err);
            await new Promise(r => setTimeout(r, 1000));
            
        }
    }
});
</script> 