<%
function uuidv4() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
    });
} 

var id = uuidv4();
%> 

<script src="https://d3js.org/d3.v4.js"></script>

<!-- Create a div where the graph will take place -->
<div id="barplot<%=id%>" class="barplot"></div>

<script>


    // set the dimensions and margins of the graph
    var margin = {top: 30, right: 30, bottom: 70, left: 60},
        width = Math.max(1000, window.innerWidth) - margin.left - margin.right,
        height = 460 - margin.top - margin.bottom;
    
    // append the svg object to the body of the page
    var svg = d3.select("#barplot<%=id%>")
      .append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform",
              "translate(" + margin.left + "," + margin.top + ")");
    
    var data = <%- JSON.stringify(data) -%>;
    var isTimeSeries = data.findIndex(d => d.date != undefined) >= 0;

    data.forEach(function(d) {
        if (d.date)
        {
            d.date = Date.parse(d.date);
        }
    });

    // X axis
    var x = isTimeSeries ?
        d3.scaleTime()//scaleBand()
            .range([ 0, width ])
            //.domain(data.map(function(d) { return d.date; }))
            .domain([Math.min(...data.map(d => d.date)), Math.max(...data.map(d => d.date))])
            //.padding(0.2);
        :
        d3.scaleBand()
            .range([ 0, width ])
            .domain(data.map(function(d) { return d.x; }))
            //.domain([Math.min(...data.map(d => d.x)), Math.max(...data.map(d => d.x))])
            .padding(0.2);

    if (isTimeSeries)
    {
        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x)
                .tickFormat(d3.timeFormat('%b %d')) 
                .ticks(d3.timeDay)
            )
            .selectAll("text")
                .attr("transform", "translate(-10,0)rotate(-45)")
                .style("text-anchor", "end");
    }
    else
    {
        svg.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x)
                .ticks(1)
            )
            .selectAll("text")
                .attr("transform", "translate(-10,10)rotate(-90)")
                .style("text-anchor", "end");
    }

    // Add Y axis
    var y = d3.scaleLinear()
      .domain([Math.min(...data.map(d => d.value), 0), Math.max(...data.map(d => d.value))])
      .range([ height, 0]);

    svg.append("g")
        .attr("class", "y axis")
        .call(
          d3.axisLeft(y)
        );
    
    //tooltip div    
    var div = d3.select("body").append("div")	
        .attr("class", "tooltip")				
        .style("opacity", 0);

    // Bars
    var bandwidth = isTimeSeries ? width/data.length :  x.bandwidth();
    (function(isTimeSeriesClosure) {
        svg.selectAll("mybar")
            .data(data)
            .enter()
            .append("rect")
                .attr("class", "bar")
                .attr("x", function(d) 
                { 
                    if (isTimeSeriesClosure)
                        return x(d.date) - bandwidth/2; 
                    else
                        return x(d.x);// - bandwidth/2; 
                })
                .attr("y", function(d) { return y(d.value); })
                .attr("width", bandwidth) //x.bandwidth())
                .attr("height", function(d) { return height - y(d.value); })
                .on("mouseover", function(d) {		
                    div.transition()		
                        .duration(200)		
                        .style("opacity", .9);		
                    if (isTimeSeriesClosure)
                    {
                        console.log("d.date", d.date, d3.timeFormat('%b %d')(d.date));
                        div	.html(d3.timeFormat('%b %d')(d.date) + "<br/>"  + d.value)	
                            .style("left", (d3.event.pageX) + "px")		
                            .style("top", (d3.event.pageY - 28) + "px");	
                    }
                    else
                    {
                        div	.html(d.x + "<br/>"  + d.value)	 
                            .style("left", (d3.event.pageX) + "px")		
                            .style("top", (d3.event.pageY - 28) + "px");					
                    }
                })
                .on("mouseout", function(d) {		
                    div.transition()		
                        .duration(500)		
                        .style("opacity", 0);	
                });
        })(isTimeSeries);
    
    </script>