<% if (data.length == 0)
{
    %>No data<%
}
else
{
    %>
    <table>
        <tr>
            <% 
            var keys = Object.keys(data[0]);
            for (var i in keys)
            {
                var key = keys[i];
                %><th><%=key%></th><%
            }
            %>
        </tr>
        <%
        var sum = 0;
        for (var i in data)
        {
            %><tr><%
            var row = data[i];
            for (var c in row)
            {
                var value = row[c];
                %><td><%=value%></td><%

                sum += value;
            }
            %></tr><%
        }

        <% if (typeof sum == 'undefined'  || sum) { %>
            <tr>
                <th>Total</th>
                <th><%=sum%></th>
            </tr>
            <%
        %>
    </table>

    <%
}
%>