<label><%=typeof label !== 'undefined' ? label : "" %>
    <select id="<%= id %>" title="<%=typeof value !== 'undefined' ? value : "" %>">
        <option><%=typeof selectDefaultText !== 'undefined' ? selectDefaultText : "" %></option>
        <%
        var categoryChannels = guild.channels.cache.filter(channel => channel.type === "GUILD_CATEGORY").sort((a,b) => a.position - b.position);
        categoryChannels.forEach(cat => { %>
            
                    <option value="<%= cat.id %>"
                        <% if (value && cat.id == value) { %>selected<% } %>>
                        <%= cat.name %>
                    </option>

        <% }); %>
    </select>
</label>
<script>
    $("#<%= id %>").on("change", (e) =>
    {
        document.location.href = "?<%= id %>="+$("#<%= id %>").val();
    });
</script>

<% 
/* 
usage:

<p>include("subViews/channelCategorySelect.html", 
    { 
        label: "Lecture Channel:",
        selectDefaultText:"-- Select Channel--",
        id: "setLectureChannelID",
        value: locals.lectureChannel.id
    }) </p>

*/ 
%>