<label><%=typeof label !== 'undefined' ? label : "" %>
    <select id="<%= id %>" title="<%=typeof value !== 'undefined' ? value : "" %>">
        <option><%=typeof selectDefaultText !== 'undefined' ? selectDefaultText : "" %></option>
        <%
        var categoryChannels = guild.channels.cache.filter(channel => channel.type === "GUILD_CATEGORY").sort((a,b) => a.position - b.position);
        categoryChannels.forEach(cat => { %>
            <optgroup label="<%= cat.name %>">
                <% var sortedChannels = cat.children.sort((a,b) => a.position - b.position);
                sortedChannels.forEach(function(channel)
                { 
                    %><option value="<%= channel.id %>"
                        <% if (value && channel.id == value) { %>selected<% } %>>
                        <%= channel.name %>
                    </option><%
                }) %>
            </optgroup>
        <% }); %>
    </select>
</label>
<script>
    $("#<%= id %>").on("change", (e) =>
    {
        document.location.href = "?<%= id %>="+$("#<%= id %>").val();
    });
</script>

<% 
/* 
usage:

<p>include("subViews/channelSelect.html", 
    { 
        label: "Lecture Channel:",
        selectDefaultText:"-- Select Channel--",
        id: "setLectureChannelID",
        value: locals.lectureChannel.id
    }) </p>

*/ 
%>