<label>
    <span><%=typeof label !== 'undefined' ? label : "" %></span>
    <select 
        id="<%= id %>" 
        name="<%=typeof name !== 'undefined' ? name : id %>"
        title="<%=typeof value !== 'undefined' ? value : "" %>"
        class="<%=typeof className !== 'undefined' ? className : "" %>">
        <option value="__DISCORD_BOT_NONE__"><%=typeof selectDefaultText !== 'undefined' ? selectDefaultText : "" %></option>
        <%
        function displayChannel(channel)
        {
            if (typeof type !== 'undefined' && channel.type != type) return;

            %><option value="<%= channel.id %>"
                <% if (value && channel.id == value) { %>selected<% } %>>
                <%= channel.name %>
            </option><%
        }

        var noCategoryChannels =  guild.channels.cache.filter(channel => channel.type !== "GUILD_CATEGORY" && channel.parent == null).sort((a,b) => a.position - b.position)
        noCategoryChannels.forEach(displayChannel);

        var categoryChannels = guild.channels.cache.filter(channel => channel.type === "GUILD_CATEGORY").sort((a,b) => a.position - b.position);
        categoryChannels.forEach(cat => { %>
            <optgroup label="<%= cat.name %>">
                <% var sortedChannels = cat.children.sort((a,b) => a.position - b.position);
                sortedChannels.forEach(displayChannel) %>
            </optgroup>
        <% }); %>
    </select>    
    <% if (typeof help !== 'undefined') { %><br/><span class="help"><%=help%></span><% } %>
</label>

<% 
/* 
usage:

<p>include("subViews/channelSelect.html", 
    { 
        label: "Lecture Channel:",
        selectDefaultText:"-- Select Channel--",
        id: "setLectureChannelID",
        value: locals.lectureChannel.id
    }) </p>

*/ 
%>