<label>
    <span><%=typeof label !== 'undefined' ? label : "" %></span>
    <select 
        id="<%= id %>" 
        name="<%=typeof name !== 'undefined' ? name : id %>"
        title="<%=typeof value !== 'undefined' ? value : "" %>">
        <option value="__DISCORD_BOT_NONE__"><%=typeof selectDefaultText !== 'undefined' ? selectDefaultText : "" %></option>
        <%
        var categoryChannels = guild.channels.cache.filter(channel => channel.type === "GUILD_CATEGORY").sort((a,b) => a.position - b.position);
        categoryChannels.forEach(cat => { %>
            
                    <option value="<%= cat.id %>"
                        <% if (typeof value !== 'undefined' && cat.id == value) { %>selected<% } %>>
                        <%= cat.name %>
                    </option>

        <% }); %>
    </select>
    <% if (typeof help !== 'undefined') { %><br/><span class="help"><%=help%></span><% } %>
</label>

<% 
/* 
usage:

<p>include("subViews/channelCategorySelect.html", 
    { 
        label: "Lecture Channel:",
        selectDefaultText:"-- Select Channel--",
        id: "setLectureChannelID",
        value: locals.lectureChannel.id
    }) </p>

*/ 
%>