<% 
function uuid() {
  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
    return v.toString(16);
  });
}

var id = locals.id ?? uuid(); %>

<label id="<%=id%>">
    <input type="checkbox" 
        class="<%=typeof className !== 'undefined' ? className : "" %>"
        <% 
        if (locals["feature_"+feature])
        {
            %>checked<%
        }
        %>
        /> 
        <%=typeof label !== 'undefined' ? label : "" %>
</label>
<script>
    (function() //closure to allow local vars
    {
        var onChanged = '<%-typeof onChanged !== 'undefined' ? onChanged : "" %>';
        function changed (e) 
        {
            var value = $(this).is(":checked");
            $(label).text("Loading...");

            $.ajax({
                url: "../setFeature",
                method:"post",
                data: JSON.stringify({
                    feature: "<%=feature%>",
                    value
                }),
                contentType: 'application/json',
                success: (data) => {
                    $(label).html(previousHtml);
                    $(label).append('<span class="saved">Saved.</span>');
                    $(label).find("input").prop("checked", value);
                    label.find("input").on("change", changed);

                    if (onChanged != "") eval(onChanged);
                }
            });
            //document.location.href = "?setFeature_<%= feature %>="+$("#setFeature_<%= feature %>").prop("checked");
        }

        var label = $("#<%=id%>");
        var previousHtml = $(label).html();
        label.find("input").on("change", changed);
    })();
</script>