<%
if (Object.keys(data).length == 0)
{
    %>No data<%
}
else
{
    %>
    <table>
        <% if (typeof showHeaders == 'undefined'  || showHeaders) { %>
        <tr>
            <th>Name</th>
            <th>Awards</th>
        </tr>
        <%
        }
        for (var i in data)
        {
            var row = data[i];
            if (locals.limit && i >= limit) break;

            %><tr>
                <th><%=row.discordName%></th>
                <td><%=row.awards.length.toLocaleString() %></td>
            </tr><%
        }
        %>
    </table>

    <%
}
%>