<% 
function uuid() {
  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
    var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
    return v.toString(16);
  });
}

var id = locals.id ?? uuid(); 
%>
<button id="<%=id%>" class="botFunction"><%=locals.text%></button>

<script>

function longBotCommandButton<%=id%>()
{
    if (typeof(resultWindows) === 'undefined') resultWindows = {};
    document.getElementById('<%=id%>').addEventListener('click',function() 
    {
        <%
        if (typeof(locals.isFormSubmit) != "undefined")
        {
            %>
            var $form = $('#<%=id%>').closest("form");
            $form.unbind("submit");
            $form.one("submit", function (event) {
                event.preventDefault();
                object= {}
                formData = new FormData(event.target);
                formData.forEach((value, key) => object[key] = value);
                object['<%=id%>'] = '<%=id%>';//add in the pressed button

                doPopup(object, $form.attr("target") ?? "<%=locals.url ?? 'undefined'%>" ??  document.location.href);
            });
            <%
        }
        else
        {
            %>
            var data = eval(<%=locals.data%>);
            doPopup(data, "<%=locals.url%>");
            <%
        }
        %>
        longBotCommandButton<%=id%>();

        function doPopup(data, url)
        {
            //make a popup to display the output
            if (resultWindows['<%=id%>']) resultWindows['<%=id%>'].close();
            resultWindows['<%=id%>'] = window.open("", "<%=locals.title ?? "Discord Bot"%>...", "width=650,height=600");

            try
            {
                resultWindows['<%=id%>'].document.querySelector('pre').remove();
            } catch (e) {}
            resultWindows['<%=id%>'].document.write("<html><head><title><%=locals.title ?? "Discord Bot"%>...</title><style>body { background-color: #2C2F33; color:white; }</style></head><body><pre>Loading...\n");

            var last_response_len  = false;
            $.ajax({
                url:url,
                method:<%-typeof(data) !== 'undefined' ? "'post'" : "'get'"%>,
                data: <% if(typeof(data) !== 'undefined')
                {
                    %>JSON.stringify(data)<%
                } else { %>null<% }%>,
                contentType: 'application/json',
                xhrFields: {
                    onprogress: function(e)
                    {
                        var this_response, response = e.currentTarget.response;
                        if(last_response_len === false)
                        {
                            this_response = response;
                            last_response_len = response.length;
                        }
                        else
                        {
                            this_response = response.substring(last_response_len);
                            last_response_len = response.length;
                        }
                        console.log(this_response);
                        resultWindows['<%=id%>'].document.write(this_response);
                    },
                    success: function(data)
                    {
                        resultWindows['<%=id%>'].document.write("</pre>");
                    }
                },
            });
        }
    });
}
longBotCommandButton<%=id%>();
  </script>
