<label>
    <span><%=typeof label !== 'undefined' ? label : "" %></span>
    <input type="text" 
        id="set<%= property %>" 
        name="set<%= property %>" 
        class="<%=typeof className !== 'undefined' ? className : "" %>"
        <% 
        if (locals[property])
        {
            %>value="<%=locals[property]%>"<%
        }
        %>
        /> 
</label>
<script>
    $("#set<%= property %>").on("keyup", (e) =>
    {
        if (e.key === 'Enter' || e.keyCode === 13) {
            document.location.href = "?set<%= property %>="+$("#set<%= property %>").val();
        }
    });
</script>