<label>
    <span><%=typeof label !== 'undefined' ? label : "" %></span>
    <select 
        id="<%= id %>" 
        title="<%=typeof value !== 'undefined' ? value : "" %>"
        name="<%=typeof name !== 'undefined' ? name : "" %>"
        class="<%=typeof className !== 'undefined' ? className : "" %>"
        >
        <option value="__DISCORD_BOT_NONE__"><%=typeof selectDefaultText !== 'undefined' ? selectDefaultText : "" %></option>
        <% 
        var members = guild.members.cache.sort((a,b) => (a.nickname ?? a.user.username).localeCompare(b.nickname ?? b.user.username));
        members.forEach(function(member)
        { 
            %><option value="<%= member.id %>"
                <% if (value && member.id == value) { %>selected<% } %>>
                <%= member.nickname ?? member.user.username %>
            </option><%
        }) %> 
    </select>
</label>
<% if (typeof onGuildPage !== 'undefined' ? onGuildPage : "")
{
    %>
    <script>
        $("#<%= id %>").on("change", (e) =>
        {
            document.location.href = "?<%= id %>="+$("#<%= id %>").val();
        });
    </script>
    <%
}
%>