<% if (typeof(level) === 'undefined') level = "h3" 
var commandInfo = locals.commands[command];
%>
<<%=level%> style="margin-bottom:-0.75em"><code>/<%=command%></code> Command</<%=level%>>
<p><%=commandInfo.description%></p>
<table>
<% commandInfo.options.forEach(option =>
{
    var name = option.name;
    var description = option.description;
    var type = option.type;

    //just some hax here
    if (name == "option_1")
    {
        name = "option_1 ... option_16";
        description = "Each of the options to show"
    } else if (name.indexOf("option_") === 0) return;

    var requiredText = option.required ? " - (required)" : "";
    %>
    <tr><th><code style="min-width:200px; display:inline-block; text-align: left;" title="<%=type%>"><%=name%></code></th><td><%=description%><%=requiredText%></td></tr>
    <%
});
%>
</table>