<%- include('guideHeader.html') %>
    <p>This page aims to give you a quick start guide to using Discord for teaching.</p>

    <p class="centered" style="margin:2em"><a class="login" href="./guide/minimum">Minimum-Effort Set Up (~5 mins)</a></p>

    <p>You may also find these articles helpful:
        <ul>
            <li><a href="https://support.discord.com/hc/en-us/articles/360041360311-Blog-How-to-use-Discord-for-your-classroom">How to Use Discord for Your Classroom (Discord Support Article)</a></li>
            <li><a href="https://support.discord.com/hc/en-us/articles/360040613072-How-to-Use-Discord-for-Your-Classroom">How to Use Discord for Your Classroom (Discord Blog Version)</a></li>
            <li><a href="https://support.discord.com/hc/en-us/articles/213530048-Advanced-Community-Server-Setup">Advanced Community Server Setup (Discord Support Article)</a></li>
            <li><a href="https://support.discord.com/hc/en-us/articles/214836687-Role-Management-101">Role Management 101 (Discord Support Article)</a></li>
            <li>Check out some talks we've done on using Discord for teaching in this <a href="https://www.youtube.com/playlist?list=PLEQ0dw7cj0Ncu3npwGS7HTjEJqwrNcMpp">YouTube playlist of Teaching Matters Lightning Talks</a></li>
            <li><a href="https://www.utas.edu.au/mylo/staff/staff-resources/general-advice/guidelines-for-online-communication">UTAS guidelines for communication</a></li>
            <li><a href="https://www.utas.edu.au/mylo/student-support/student-resources/section-03/netiquette-for-online-communication">Netiquette (UTAS Guide)</a></li>
        </ul></p>

    <p><strong>Thinking about using Discord for Online Lectures or Tutorials?</strong><br />Beware the following:
    <ul>
        <li>You are limited to only 50 people in a voice channel when using screenshare (you can up-vote the feature request to raise the limit <a href="https://support.discord.com/hc/en-us/community/posts/360059940851-More-Screen-Sharing">here</a>.)</li>
        <li>You cannot control student screens on screenshare on Discord (yet), so you may need to open a Zoom call when people need that feature.</li>
        <li>Discord <em>does</em> work in China, but students will need to use a VPN, and their connection may be unstable.</li>
    </ul></p>


<%- include('guideFooter.html') %>