:straight_ruler: ***SERVER RULES***

**:name_badge: 1. Set your nickname to your real name (first name only) and UTAS username, so staff can easily identify you and help you properly**
    • Example: Lindsay (lfwells)
    • You can set this by right-clicking your username on the right, and choosing *Edit Server Profile*.

**:raised_hands: 2. Be Respectful**
    • No provocation and baiting.
    • No racist, discriminating, or otherwise non-inclusive behaviour.
    • Respect each other's privacy.
    • No religious or political discussions.

**:newspaper: 3. No Advertisement / Spam**
    • No advertising products, services, etc. DM ads strictly prohibited.
    • No spamming the chat with pointless messages and/or memes outside of off-topic.

**:family: 4. Code / Work Sharing**
    • You are encouraged to share your progress often and help each other with bugs or problems.
    • You may share small code snippets and screenshots of your work to ask for help from staff or other students. 

**:underage: 5. No NSFW Posts**
    • No inappropriate discussions or images. Keep it clean.
    • If you have to ask if its NSFW, it is.

**:teacher: 6. Staff Words are Final**
    • No arguing with staff.
    • Staff reserve the rights to remove any content at their own discretion.

**:mortar_board: 7. This is a Safe Space for Learning**
    • This is an open space for learning. Feel free to ask as many questions as you like.
    • Don't be afraid to ask for help. 
    • Don't shame or berate someone for not knowing something.

**:mobile_phone: 8. DMs**
    • Search the Discord to see if your question has already been answered first.
    • Consider asking your question to the whole class on Discord before DM-ing or emailing staff.
    • Be sure to check staff Discord Status (top-right of user list), and don't expect an answer straight away.